# <font color='blue' size='5'> Data Science Academy - Python Fundamentos - Capítulo 2 </font><b></b>
## Download: http://github.com/dsacademybr

## Números e Operações Matemáticas

# Pressione as teclas shift e enter para executar o código em uma célula ou pressione o botão Play no menu superior

In [9]:
# soma 
4+4

8

In [10]:
# Subtração
4-3

1

In [11]:
# Multiplicação
3*3

9

In [12]:
# Divisão
3/2

1.5

In [13]:
# Potência
4**2

16

In [14]:
# Módulo
10%3

1

# Função Type

In [15]:
type (5)

int

In [16]:
type (5.0)

float

In [17]:
a = 'eu sou uma string'
type (a)

str

# Operações com números float

In [18]:
3.1 + 6.4

9.5

In [19]:
4 + 4.0

8.0

In [20]:
4+4

8

In [21]:
# Resultado é um número float, devido a fato de a divisão estar utilizando apenas uma "/"
4/2

2.0

In [22]:
# Resultado é um número inteiro, pelo fato de utilizarmos duas barras "//"
4//2

2

In [23]:
4/3.0

1.3333333333333333

In [24]:
4//3.0

1.0

# Conversão

In [25]:
float (9)

9.0

In [26]:
int(6.0)

6

In [27]:
int(6.5)

6

In [28]:
int(6.6)

6

In [29]:
int(6.8)

6

# Hexadecimal e Binário

In [30]:
hex(394)

'0x18a'

In [31]:
hex(217)

'0xd9'

In [32]:
bin(286)

'0b100011110'

In [33]:
bin(390)

'0b110000110'

# Funções abs, round e pow

In [34]:
# Retorna o valor absoluto
abs(-8)

8

In [35]:
# Retorna o valor absoluto
abs(8)

8

In [36]:
# Retorna o valor com arredondamento
round(3.1415199,2)

3.14

In [38]:
# Retorna valor com arredondamento
round (3.1415199,6)

3.14152

In [39]:
# Potência
pow(4,2)

16

In [40]:
# Potência
pow(5,3)

125

# Fim

### Parabéns para mim :)

#### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>

# Variáveis e Operadores

In [42]:
# Atribuindo o valor 1 a variável var_teste
var_teste = 1

In [43]:
# Imprimindo o valor da variável
var_teste

1

In [44]:
# Imprimindo o valor da variável
print(var_teste)

1

In [45]:
# Nâo podemos utilizar uma variável que não foi definida. Veja mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [46]:
var_teste = 2

In [47]:
var_teste

2

In [48]:
type(var_teste)

int

In [49]:
var_teste = 9.5

In [50]:
type(var_teste)

float

In [51]:
x = 1

In [52]:
x

1

# Declaração Múltipla

In [55]:
pessoa1, pessoa2, pessoa3 = "Maria", "José,", "Tobias"

In [56]:
pessoa1

'Maria'

In [57]:
pessoa2

'José,'

In [58]:
pessoa3

'Tobias'

In [59]:
fruta1 = fruta2 = fruta3 = "laranja"

In [60]:
fruta1

'laranja'

In [61]:
fruta2

'laranja'

In [62]:
fruta3

'laranja'

# <font size = "5"> Pode-se usar letras, números e underline (mas não se pode começar com números) </font>

In [63]:
x1 = 50

In [64]:
x1

50

In [65]:
# Mensagem de erro, pois o Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid syntax (<ipython-input-65-33a7c2a39e57>, line 2)

# Não se pode usar palavras reservadas como nome de variável
### False, Class, Finally, is, return, none, continue, for, lambda, try, except, true, def, from, nonlocal, while, and, del, global, not, with, in, as, elif, if, or, yield, assert, else, import, pass, break, raise

In [66]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (<ipython-input-66-e88ee5721a0c>, line 2)

# Variáveis atribuídas a outras variáveis e ordem dos operadores

In [67]:
largura = 2

In [68]:
altura = 4

In [69]:
area = largura * altura

In [70]:
area

8

In [73]:
# nesse caso iremos somar 2 x o valor da variável largura + 2 x o valor da variável altura
perimetro = 2 * largura + 2 * altura

In [74]:
perimetro

12

In [71]:
perimetro = 2 * (largura + 2) * altura

In [72]:
perimetro

32

# Operações com variáveis

In [75]:
idade1 = 25

In [76]:
idade2 = 35

In [77]:
idade1 + idade2

60

In [78]:
idade2 - idade1

10

In [79]:
idade2 * idade1

875

In [83]:
idade2 / idade1

1.4

In [81]:
idade2 % idade1

10

# Concatenação de Variáveis

In [84]:
nome = "Steve"

In [89]:
sobrenome = "Jobs"

In [92]:
fullname = nome + " " + sobrenome

In [93]:
fullname

'Steve Jobs'

# <font color = "pink"> Fim :) Mandou bem Elaine! </font>

# Strings

## Criando uma String

### Para criar uma string em Python você pode usar aspas simples ou duplas. Por exemplo:

In [94]:
# Uma única palavra
'Oi'

'Oi'

In [95]:
# Uma frase
"Podemos usar aspas duplas ou simples para criaruma string em Python"

'Podemos usar aspas duplas ou simples para criaruma string em Python'

In [96]:
# Você pode combinar aspas duplas e simples
"Testando strings em 'Python'"

"Testando strings em 'Python'"

## Imprimindo uma String

In [101]:
print ('Testando Strings em Python')

Testando Strings em Python

In [98]:
print ('Testando \nStrings \nem \nPython')

Testando
Strings
em
Python

In [99]:
print('\n')

## Indexando Strings

In [2]:
# Atribuindo uma string
s = 'Data Science Academy'

In [103]:
print(s)

Data Science Academy

In [104]:
# Primeiro elemento da string
s[0]

'D'

In [105]:
s[1]

'a'

In [106]:
s[2]

't'

#### Podemos usar um : para executar uma slicing que faz a leitura de tudo até um ponto designado. Por exemplo:

In [107]:
# Retorna todos os elementos da string, começando pela posição (lembre-se que Python começa a indexação pela posição 0), 
# até o fim da string.
s[1:]

'ata Science Academy'

In [108]:
# A string original permanece inalterada
s

'Data Science Academy'

In [109]:
# Retorna tudo até a posição 3
s[:3]

'Dat'

In [110]:
s[:]

'Data Science Academy'

In [118]:
# Nós também podemos usar a indexação negativa para Ler de trás para frente.
s[-1]

'y'

In [119]:
# Retornar tudo, exceto a última letra
s [:-1]

'Data Science Academ'

#### Nós também podemos usar a notação de índice e fatiar uma string em pedaços específicos (o padrão é 1). Por exemplo, podemos usar dois pontos duas vezes em uma linha e, em seguida, um número que especifica a frequência para retornar elementos. Por exemplo:

In [120]:
s[::1]

'Data Science Academy'

In [121]:
s[::2]

'Dt cec cdm'

In [122]:
s[::3]

'Dacn am'

In [123]:
s[::-1]

'ymedacA ecneicS ataD'

In [124]:
s[::-3]

'ydAci a'

## Propriedades de Strings

In [3]:
s

'Data Science Academy'

In [5]:
# Alterando um caracter. Não é possível porque as strings em Python são IMUTÁVEIS.
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [7]:
# Concatenando Strings
s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

'Data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [8]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [9]:
print (s)

Data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!

In [10]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'

In [11]:
letra * 3

'www'

### Funções Built-in de Strings

In [12]:
s

'Data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [17]:
# Upper Case
s.upper()

'DATA SCIENCE ACADEMY É A MELHOR MANEIRA DE ESTAR PREPARADO PARA O MERCADO DE TRABALHO EM CIÊNCIA DE DADOS!'

In [14]:
# Lower Case
s.lower()

'data science academy é a melhor maneira de estar preparado para o mercado de trabalho em ciência de dados!'

In [15]:
# Dividir uma string por espaços em branco (padrão)
s.split()

['Data',
 'Science',
 'Academy',
 'é',
 'a',
 'melhor',
 'maneira',
 'de',
 'estar',
 'preparado',
 'para',
 'o',
 'mercado',
 'de',
 'trabalho',
 'em',
 'Ciência',
 'de',
 'Dados!']

In [19]:
# Dividir uma string por elemento específico
s.split('y')

['Data Science Academ',
 ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!']

### Funções String

In [30]:
s = 'seja bem vindo ao universo de python'

In [21]:
s.capitalize()

'Seja bem vindo ao universo python'

In [23]:
s.count('a')

2

In [28]:
s.find('P')

30

In [31]:
# avalia a letra escolhida na posição acima
s.islower()

True

In [32]:
s.isspace()

False

In [35]:
s.endswith('o')

False

### Comparando Strings

In [36]:
print ("Python" == "R")

False

In [37]:
print ("Python" == "Python")

True

In [38]:
print (s == 'seja bem vindo ao universo de python')

True

# Fim (Dá-lhe Elaine :))

### Obrigada - Data Science Academy - <a href = "http://facebook.com/dsacademybr"> facebook.com/dsacademybr </a>

## Listas

In [41]:
# Criando uma lista
listadomercado = ['ovos, farinha, leite, maças']

In [42]:
# Imprimindo a lista
print (listadomercado)

['ovos, farinha, leite, maças']

In [43]:
# Criando outra lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [44]:
print(listadomercado2)

['ovos', 'farinha', 'leite', 'maças']

In [45]:
# Para o Python a primeira lista é composta por apenas um elemento visto que todos os itens foram colocados entre um único 
# grupo de aspas.
listadomercado[0]

'ovos, farinha, leite, maças'

In [46]:
# Na segunda lists, diferentemente da primeira, foram registrados grupos de aspas para cada elemento. Dessa forma o Python
# entende como sendo elementos sepadados. Sendo no total 4 elementos. O extrair o primeiro, o Python retorna somente "ovo"
listadomercado2 [0]

'ovos'

In [47]:
# Criando Lista
lista3 = [12,100,"Universidade"]

In [48]:
#Imprimindo
print(lista3)

[12, 100, 'Universidade']

In [49]:
# Atribuindo cada valor da lista a uma variável
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [50]:
# Imprimindo as variáveis
print (item1, item2, item3)

12 100 Universidade

### Atualizando um item da lista

In [52]:
# Imprimindo um item da lista
listadomercado2 [2]

'leite'

In [53]:
# Atualizando um item da lista
listadomercado2[2] = "chocolate"

In [54]:
# Imprimindo lista alterada
listadomercado2

['ovos', 'farinha', 'chocolate', 'maças']

In [55]:
print(listadomercado2)

['ovos', 'farinha', 'chocolate', 'maças']

### Deletando um item da lista

In [56]:
# Out of index. Não é possível deletar um item que não existe na lista
del listadomercado2[4]

IndexError: list assignment index out of range

In [57]:
# Deletando um item específico da lista
del listadomercado2[3]

In [58]:
# Imprimindo lista alterada
listadomercado2

['ovos', 'farinha', 'chocolate']

### Listas de listas (Listas aninhadas)
Listas de listas são matrizes em Python

In [60]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2,3]]

In [61]:
# Imprimindo a lista
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2, 3]]

In [74]:
# Atribuindo um item da lista a uma variável
a = listas [0]

In [75]:
a

[1, 2, 3]

In [76]:
b = a[0]

In [77]:
b

1

In [66]:
list1 = listas[1]

In [67]:
list1

[10, 15, 14]

In [68]:
valor_1_0 = list1[0]

In [69]:
valor_1_0

10

In [71]:
valor_1_2 = list1[2]

In [72]:
valor_1_2

14

In [78]:
list2 = listas[2]

In [79]:
list2

[10.1, 8.7, 2, 3]

In [80]:
valor_2_0 = list2[0]

In [81]:
valor_2_0

10.1

### Operações com listas

In [82]:
# Criando uma lista aninhada (lista de listas)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [83]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [88]:
# Atribuindo à variável a, o primeiro valor da primeira lista
a = listas [0][0]

In [89]:
a

1

In [90]:
b = listas [1][2]

In [91]:
b

14

In [92]:
c = listas [0][2] + 10

In [93]:
c

13

In [94]:
d = 10

In [95]:
d

10

In [96]:
e = d * listas[2][0]

In [98]:
e

101.0

### Concatenar listas

In [99]:
lista_s1 = [34,32,56]

In [100]:
lista_s1

[34, 32, 56]

In [101]:
lista_s2 = [21,90,51]

In [102]:
lista_s2

[21, 90, 51]

In [103]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [104]:
lista_total

[34, 32, 56, 21, 90, 51]

## Operador In
Avalia se existe um determinando item dentro de uma lista.

In [105]:
# Criando uma lista
lista_teste_op = [100,2,-5,3.4]

In [106]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [107]:
#Verificando se o valor 100 pertence a lista
print (100 in lista_teste_op)

True

## Funções Built-in

In [108]:
# Função len() retorna o comprimento da lista
len(lista_teste_op)

4

In [109]:
# Função max() retorna o valor máximo da lista
max(lista_teste_op)

100

In [110]:
# Função min() retorna o valor mínimo da lista
min(lista_teste_op)

-5

In [111]:
# Criando uma lista
listadomercado2 = ['ovos', 'farinha', 'leite', 'maças']

In [112]:
# Adicionando um item à lista
listadomercado2.append('carne')

In [113]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [114]:
# Adicinando novamente o item carne na lista
listadomercado2.append('carne')

In [115]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne', 'carne']

In [116]:
listadomercado2.count('carne')

2

In [117]:
# Criando uma lista vazia
a = []

In [118]:
print(a)

[]

In [119]:
type(a)

list

In [120]:
a.append(10)

In [121]:
a

[10]

In [122]:
a.append(50)

In [123]:
a

[10, 50]

In [124]:
old_list = [1,2,5,10]

In [125]:
new_list = []

In [127]:
# Copiando os itens de uma lista para a outra
for item in old_list: new_list.append(item)

In [128]:
new_list

[1, 2, 5, 10]

In [129]:
old_list

[1, 2, 5, 10]

In [130]:
c = [20,30]

In [131]:
c.append(60)

In [132]:
c.append(70)

In [133]:
c

[20, 30, 60, 70]

In [134]:
c.count(20)

1

In [135]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [136]:
cidades.index('Salvador')

2

lembre-se: em Python o índice começa com 0!

In [137]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [138]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [141]:
# a função insert acrescenta um elemento na lista nomedalista.insert(index,valor). 
# A função irá acrescentar o valor 110 a posição 2.
cidades.insert(2,110)

In [142]:
cidades

['Recife', 'Manaus', 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

In [143]:
cidades.insert(4,110)

In [144]:
cidades

['Recife', 'Manaus', 110, 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

In [146]:
# Remove um item da lista. Caso haja mais de um valor igual, será necessário aplicar a função x vezes. 
cidades.remove(110)

In [147]:
cidades

['Recife', 'Manaus', 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

In [148]:
cidades.remove(110)

In [149]:
cidades.remove(110)

In [150]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [151]:
# Reverte a lista
cidades.reverse()

In [152]:
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [154]:
x = [3,4,2,1]

In [155]:
x

[3, 4, 2, 1]

In [156]:
# Ordena a lista
x.sort()

In [157]:
x

[1, 2, 3, 4]

In [158]:
cidades.sort()

In [159]:
cidades

['Fortaleza', 'Manaus', 'Palmas', 'Recife', 'Salvador']

<font color = "green" size = 6> Fim. Avançando cada vez mais Elaine. Parabéns! :) </font> <b></b>

# Dicionários

In [1]:
# Isso é uma lista
estudantes_lst = ['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [2]:
estudantes_lst

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [3]:
# Isso é um dicionário
estudantes_dict = {'Mateus':24, 'Fernanda':22, 'Tamires':26, 'Cristiano':25}

In [4]:
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [5]:
# A chave no dicionário representa o índice das listas.
estudantes_dict['Mateus']

24

In [6]:
estudantes_dict['Tamires']

26

In [7]:
# para incluir um novo elemento no dicionário, inserir o nome da chave em colchetes e o valor após o sinal do igual.
estudantes_dict['Pedro'] = 23

In [8]:
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Pedro': 23}

In [10]:
estudantes_dict.clear()

In [11]:
estudantes_dict

{}

In [12]:
del estudantes_dict

In [13]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [14]:
estudantes = {'Mateus':24, 'Fernanda':22, 'Tamires':26, 'Cristiano':25}

In [15]:
estudantes

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [16]:
len(estudantes)

4

In [17]:
estudantes.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [18]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [19]:
estudantes.items()

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [20]:
estudantes2 = {'Erika':28, 'Maria':27, 'Milton':26}

In [21]:
estudantes2

{'Erika': 28, 'Maria': 27, 'Milton': 26}

In [22]:
estudantes.update(estudantes2)

In [23]:
estudantes

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Erika': 28,
 'Maria': 27,
 'Milton': 26}

In [24]:
# Podemos criar um dicionario vazio
dic1 = {}

In [25]:
dic1

{}

In [26]:
# e ir adicionando elemento ao dicionario criado
dic1['Key_one'] = 2

In [27]:
print(dic1)

{'Key_one': 2}

In [28]:
dic1[10] = 5

In [29]:
dic1

{'Key_one': 2, 10: 5}

In [30]:
dic1[8.2] = 'Python'

In [31]:
dic1

{'Key_one': 2, 10: 5, 8.2: 'Python'}

In [32]:
dic1['teste'] = 5

In [33]:
dic1

{'Key_one': 2, 10: 5, 8.2: 'Python', 'teste': 5}

In [34]:
dict1 = {}

In [35]:
dict1

{}

In [36]:
dict1['teste'] = 10

In [37]:
dict1['key'] = 'teste'

In [38]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [39]:
dict2 = {}

In [40]:
dict2 ['key1'] = 'Big Data'

In [41]:
dict2 ['key2'] = 10

In [42]:
dict2 ['key3'] = 5.6

In [43]:
dict2

{'key1': 'Big Data', 'key2': 10, 'key3': 5.6}

In [44]:
a = dict2['key1']

In [45]:
b = dict2['key2']

In [46]:
c = dict2 ['key3']

In [47]:
a,b,c

('Big Data', 10, 5.6)

In [49]:
# Dicionário de listas
dict3 = {'key1':1230, 'key2':[22,453,73.4], 'key3':['leite', 'maça','batata']}

In [50]:
dict3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

In [51]:
dict3['key2']

[22, 453, 73.4]

In [52]:
# Acessando um item da lista, dentro de um dicionário
dict3['key3'][0]

'leite'

In [53]:
# Acessando um item da lista, dentro de um dicionário, e transformando-o em caixa alta.
dict3['key3'][0].upper()

'LEITE'

In [54]:
# Operações com itens da lista, dentro do dicionário. var1 (nome dado a variável)
var1 = dict3['key2'][0] - 2

In [55]:
var1

20

In [56]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['key2'][0] -=2

In [57]:
dict3

{'key1': 1230, 'key2': [20, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

## Criando dicionários aninhados

In [58]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'dict aninhado em Python'}}}

In [59]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'dict aninhado em Python'}}}

In [60]:
dict_aninhado['key1']['key2_aninhada']

{'key3_aninhada': 'dict aninhado em Python'}

In [61]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'dict aninhado em Python'

## Fim :)

## Tuplas

In [62]:
# Criando uma tupla
tupla1 = ('Geografia', 23, 'Elefantes')

In [63]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes')

In [64]:
print(tupla1)

('Geografia', 23, 'Elefantes')

In [65]:
# Tuplas não suportam append()
tupla1.append('chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
# Tuplas não suportam delete de um item específico
del tupla1['Geografia']

TypeError: 'tuple' object does not support item deletion

In [67]:
# Tuplas podem ter um único item
tupla1 = ('Chocolate')

In [68]:
tupla1

'Chocolate'

In [69]:
tupla1 = ('Geografia',23, 'Elefantes')

In [70]:
tupla1[0]

'Geografia'

In [71]:
# Verificando o comprimento da tupla
len(tupla1)

3

In [72]:
#slicing da mesma forma como faz com listas
tupla1[1:0]

()

In [73]:
tupla1[:]

('Geografia', 23, 'Elefantes')

In [74]:
tupla1[2:3]

('Elefantes',)

In [75]:
tupla1[1:]

(23, 'Elefantes')

In [76]:
tupla1[-1:]

('Elefantes',)

In [77]:
tupla1[-2:]

(23, 'Elefantes')

In [78]:
tupla1 [:-2]

('Geografia',)

In [79]:
tupla1.index('Elefantes')

2

In [80]:
# Tuplas não suportam atribuição de item
tupla1 [1] = 21

TypeError: 'tuple' object does not support item assignment

In [81]:
# Deletando a tupla
del tupla1

In [82]:
tupla1

NameError: name 'tupla1' is not defined

In [83]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [84]:
t2

('A', 'B', 'C')

In [85]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [86]:
lista_t2

['A', 'B', 'C']

In [87]:
lista_t2.append('D')

In [88]:
lista_t2

['A', 'B', 'C', 'D']

In [89]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [90]:
t2

('A', 'B', 'C', 'D')

# FIM :)